@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sono&family=Ubuntu:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:ital@1&family=Sono&family=Ubuntu:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@300&family=Roboto+Condensed:ital@1&family=Sono&family=Ubuntu:ital,wght@1,300;1,400&display=swap');



*{

    padding: 0;
    
    margin: 0;
    
    box-sizing: border-box;
    
    }

.margin_left_20{
    margin-left: 20px;
}

.margin-20 {
    margin: 10px;
}

.heightTotal{
    height: 100%;
}



 /*css header*/  
    
.navbar-light .navbar-nav .link_navegador_header{
    margin: 20px;
    font-size: 20px;
}

.navbar-light .navbar-nav .link_navegador_header:hover{
    color: red;
}

/*css INDEX*/

/*img index*/

.main_index{
    background-color: white;
}

.div_imagen{
    height: 600px;
    width: 100%;
    background-image: url("../Assets/img/Fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.imagen{
    width: 100%;
    height: 100%;
    background: transparent;
    object-fit: cover;
}

/*check box*/

.seccion_checkBox{
    margin-bottom: 30px;
}

.boton_check{
    font-size: 20px;
    border: 1px solid grey;
    background-color: white;
    color: black;
}

.boton_check:hover{
    border: 2px solid red;
    background-color: white;
    color: black;
}

.boton_check:checked{
    background-color:  rgb(255, 40, 40);
}

.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: red;
    border-color: #51585e;
  }

  /*Selector*/

  .form_select_index{
    margin-right: 20px;
    margin-top: 0;
  }

  .div_select_index{
    margin-top: 0;
    padding: 0;
    height: 100%;
  }

  .form-select{
    width: auto;
    height: 100%;
  }

 

  /*Boton buscar*/

  .boton_buscar{
    background-color: rgb(212, 204, 204);
    color: black;
    padding: 10px;
    border-radius: 10px; 
    border: 1px solid black;
  }

  .boton_buscar:hover{
    border: 2px solid black;
  }





/*titulos propiedades index*/
.h1_prop{
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.h2_prop{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 30px;
}

/*las propiedades*/

.div_prop{
    width: 350px;
    height: 500px;
}

.propiedad1{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.parrafo_prop{ 
    font-size: 20px;
}

/*boton en propiedades*/
.reservar{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(183, 178, 178);
   
}
/*mapa*/
.seccion_mapa {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.titulo_mapa{
    font-size: 3rem;
}

.div_mapa{
   width: 80%;
   height: 500px;
   padding: 20px;
}

.mapa {
    width: 100%;
    height: 500px;
    border-radius: 30px;
}


  /*seccion que contiene las cards en el index*/
  .seccion_info_index{
    margin-top: 20px ;
    margin-bottom: 50px;
  }
    
  .contenedor_info_index{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(221, 221, 221, 0.905)
  }

  .contenedor_info_index:hover{
    border: 2px solid black;
    background-color: rgb(180, 179, 179);
  }

  .cuadro_deConsulta_index{
    border: 2px solid rgba(128, 128, 128, 0.233);
    border-radius: 15px;
    margin-bottom: 50px;
    padding-bottom: 10px;
  }


.titulo_SobreNos{   
    font-size: 50px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
   
}

/*css EMPRESA*/
.div_Empresa{
    width: 50%;
}


.p_Empresa{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.seccion_empresaImg{
   width: 50%;  
}


.p_EmpresaImg{
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* css CONTACTO*/

.h1_contacto{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 50px;
}

.div_img_contacto{
    margin-bottom: 60px;
}


.p_datos_img_contacto{
     font-size: 2rem;
     
}

.p2_datos_img_contacto{
    font-size: 20px;
}

/*El formulario*/

.h2_contacto{
    margin-top: 100px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.div_contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input{
    display: inline-block;
    width: 48%;
    height: 30px;
    
}

.textarea{
    width: 100%;
    height: 200px;
}

.boton_enviar{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

/*css servicios */

.main_servicios_container{
    padding: 5% 10%;
}

.titulo_servicios{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}


.seccion_servicios{ 
    margin-bottom: 100px;
}


.h2_servicios{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.div_servicios_img{
    display: inline-block;
    width: 200px;
}
.img_siempre_servicios{
    width: 100%;
}

.div_uno_servicios{
    display: inline-block;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200px;
    width: 60%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.div_parrafos_servicios{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}




/*css propiedad */
.main_propiedad{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.seccion_main_propiedad{
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 200px auto 1fr;
    grid-template-areas: 
        "img img"
        "datos nav_prop"
        "carac nav_prop"
        "mapa mapa";
    row-gap: 20px;   
    column-gap: 20px; 
}


/*imagenes de la propiedad*/
.seccion_imagenes_propiedad{
    grid-area: img;
    display: flex;
}

.div_imagenes_propiedad{/*contiene la imagen grnade*/
    background-color: black;
    width: 50%;
    height: 100%;
}

.seccionImg_imagenes_propiedad{/*contiene los divs de las imganes chicas*/
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 50%;
}

.div_imagenesChicas_propiedad{/*div imagenes chicas*/
    width: 100%;
    height: 50%;
}

.imagen_propiedad{/*imagenes*/
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.fondo{
    background-color: brown;
}

/*consulta de la propiedad*/
.consulta_propiedad{
   grid-area: nav_prop;
}

/*contenedor de la consulta*/
.div_consulta_propiedad{
    display: inline-block;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(243 238 238);
    text-align: center;
}

/*titulo formulario*/
.h3_consulta_propiedad_formulario{
    margin: 10% 10px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

/*Email*/
.input_email_formulario_consulta_propiedad{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    text-align: start;
    padding-left: 5%;
}

/*contiene input  nombre y telefono*/
.numeroTelefono_formulario_consulta_propiedad{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
}

.input_numeroTelefono_formulario_consulta_propiedad{
    width: 45%;
    height: 50px;
    border-radius: 10px;
    text-align: start;
    padding-left: 5%;
}

/*mensaje*/
.textArea_formulario_consulta_propiedad{
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}

/*Enviar*/
.botonEnviar_formulario_consulta_propiedad{
    width: 80%;
    height: 50px;
    color: white;
    text-align: center;
    background-color: rgb(235 24 8);
    border-radius: 10px;
    margin: 20px 0px;
}

/*DATOS de la propiedad*/
.datos_propiedad{
    grid-area: datos;
    display: inline-flex;
    border-radius: 10px;
    border: 1px solid black;
    flex-direction: column;
    align-items: start;
}

.divCompartir_datos_propiedad{
    align-self: end;
    margin-top: 20px;
    margin-right: 50px;
    position: absolute;
}

/*Abarca los titulos*/
.divTitulo_datos_propiedad{
    margin: 20px;
}

/*Titulo*/
.divTitulo_h1_datos_propiedad{
    font-size: 30px;
    margin-bottom: 10px;
}

/*Subtitulo*/
.divTitulo_h2_datos_propiedad{
    font-size: 20px;
    font-weight: 200;
}

/*metros, cant de habitaciones, baños*/
.divInfo_datos_propiedad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.p_divInfo_datos_propiedad{
    font-weight: 300;
    margin-left: 30px;
}


/*caracteristicas*/
.caracteristicas_propiedad{
    grid-area: carac;
    text-align: start;
}

.h2_caracteristicas_propiedad{
    margin-bottom: 30px;
}

.p_h2_caracteristicas_propiedad{
    margin-bottom: 30px;
}

/*mapa*/
.seccion_mapa_propiedad{
    grid-area: mapa;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 50px;
}

/*Titulo mapa*/
.h2_seccion_mapa_propiedad{
    font-size: 30px;
    align-self: start;
    margin: 30px 0
}

.mapa_propiedad{
    width: 100%;
    border-radius: 10px; 
}



/*FOOTER*/
footer{
    background-color: #b9b7b7;
}

.h3_Footer{
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}

.espaciado{
    margin: 20px 0;
}

/*imagenes footer*/

.seccion_imgFooter{
    margin-right: 10%;
}




/*whatsapp*/
.wps{
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: #3dd13d;
    z-index: 10;
    
}

.link_wps{
    text-decoration: none;
    color: #058b05;
}

.link_sin_decoracion{
    text-decoration: none;
    color: black;
}



@media only screen and (min-width: 0px) and (max-width: 1500px){


  .datos_footer{
    margin-left: initial;
  }

  .seccion_imgFooter{
    margin-right: initial;
  }

  .div_Empresa{
    width: 70%;
  }

  .seccion_empresaImg{
    width: 70%;
  }

}

@media only screen and (min-width: 0px) and (max-width: 1200px){

    .seccion_empresaImg_imagenes{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .seccion_main_propiedad{
        width: 90%;
    }

    .numeroTelefono_formulario_consulta_propiedad{
        flex-direction: column;
    }

    .input_numeroTelefono_formulario_consulta_propiedad{
        width: 100%;
        margin-bottom: 30px;
    }
    
}

@media only screen and (min-width: 0px) and (max-width: 1000px){
    .seccion_servicios_img{
        flex-direction: column;
    }

    .div_servicios_img{
        margin-top: 30px;
        order: 2;
    }

    


}   

@media only screen and (min-width: 0px) and (max-width: 900px){
    /*Parte del main del index*/
    .seccion_selectBuscador_index{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        
    }

    .form_select_index{
        margin-bottom: 30px;
    }

    .seccion_checkBox{
        display: flex;
        width: 60%;
        flex-direction: column !important;
        justify-content: center !important;
        align-self: center !important;
    }

    .seccion_checkBox{
        margin-bottom: 20px;
    }

    .seccion_consultas_index{
        flex-direction: column  !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .seccion_info_index, .contenedor_redes_index, .contenedor_info_index{
        width: 100%;
    }


    .seccion_imgFooter{
      display: none !important;
    }

    .consulta_propiedad{
        text-align: initial;
        width: 100%;
     }

     .h3_consulta_propiedad_formulario{
        margin: 20px;
        text-align: start;
     }

     .input_email_formulario_consulta_propiedad{
        height: 30px;
        padding-left: 10px;
        margin: initial;
     }
    
    .numeroTelefono_formulario_consulta_propiedad{
        flex-direction: column;
        
    }

    .input_numeroTelefono_formulario_consulta_propiedad{
        width: 100%;
        height: 30px;
        padding-left: 10px;
       
    }


    /*cambios contacto*/
   
    .div_contacto{
        flex-direction: column;
    }

    .input{
        width: 100%;
        margin-bottom: 20px;
    }

  
    
   }

   @media only screen and (min-width: 0px) and (max-width: 700px){
     .div_Empresa{
        width: 80%;
      }
    
      .seccion_empresaImg{
        width: 80%;
      }

      .seccion_main_propiedad{
        grid-template-columns: 100%;
        grid-template-rows:  1fr 200px auto 1fr 500px;
        grid-template-areas: 
        "img "
        "datos"
        "carac"
        "mapa"
        "nav_prop";
      }

   
   }

