.main-404{
    overflow: hidden;
    .div-404{
        min-height: 70vh;
    }
}

@media only screen and (max-width: 550px){
    .main-404{
        .div-404{
            min-height: 70vh;
        }
    }
}