footer{
    background-color: $color-footer;

    .h3_Footer , .h4_Footer{
        font-size: $size-mediano;
       
        font-family: 'Quicksand', sans-serif;
    }

    .h4_Footer{
        font-family: 'Quicksand', sans-serif;
        font-size: $size-chico;
    }
    nav{
        .ancla_footer{
            color: black;
            &:hover{
                color: $color-botones-anclas;
            }
        } 
    }
    a{
        .fa-facebook-square{
            color: map-get($colores_redes, facebook);
        }

        .ri-instagram-line{
            background: map-get($colores_redes, instagram);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            top: 5px
        }

        .fa-whatsapp-square{
            color: map-get($colores_redes, whatsapp);
        }
    }

    @media only screen and (max-width:600px){
        .h3_Footer .h4_Footer{
            font-size: 25px;
        
       } 
    }
}