.margin_left_20{
    margin-left: 20px;
}

.margin-20 {
    margin: 10px;
}

.heightTotal{
    height: 100%;
}

.altura_input{ 
    height: 50px;
}

.border-radius-20{
    border-radius: 20px;
}

.alto_80vh{
    height: 80vh;
}

.alto_70vh{
    height: 70vh;
}

.colorBorde-Gris{
    border-color: $color-gris;
    background-color: #e8e5e5;
}

.color_boton_propiedad{  
    background-color: $color-botones-anclas;
}

.espaciado{
    margin: 20px 0;
}

.resaltar{
    color: red;
}

.object-fit-cover{
    object-fit: cover;
}

.boton_con_animacion{
    font-family: $letra-secundaria;
    border: 2px solid gray;
    position: relative;
    text-decoration: none;
    color: black;

    &::before, &::after{
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        transition: all .3s ease-in;
    }
    &::before{
        top: -10px;
        left: -10px;
        border: inherit;
        border-width: 3px 0 0 3px;
     }
    &::after{
        bottom: -10px;
        right: -10px;
        border: inherit;
        border-width: 0 3px 3px 0;
     }
     &:hover::before, &:hover::after{
        width: calc(100% + 20px);
        height: calc(100% + 20px);
     }
  }

  .bordeado{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }

  
