.margin_left_20{
    margin-left: 20px;
}

.margin-20 {
    margin: 10px;
}

.heightTotal{
    height: 100%;
}

.altura_input{ 
    height: 50px;
}

.border-radius-20{
    border-radius: 20px;
}

.alto_80vh{
    height: 80vh;
}

.colorBorde-Gris{
    border-color: $color-gris;
    background-color: #e8e5e5;
}

.color_boton_propiedad{  
    background-color: $color-botones-anclas;
}

.espaciado{
    margin: 20px 0;
}
