$color-footer: #f8f9fa;
$color-inmobiliaria: red;
$color-gris: rgb(183, 178, 178);
$color-botones-anclas:  rgb(244, 26, 26) ;

$border-hover-rojo: 2px solid $color-inmobiliaria; 
$border-hover-negro: 2px solid black;
$borde-claro: 1px solid rgba(128, 128, 128);

$letra-titulos: 'Ubuntu', sans-serif;
$letra-secundaria: 'Montserrat', sans-serif;

$size-chico: 20px;
$size-mediano: 30px;
$size-titulos: 40px;

$colores_redes:(
    instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%), 
    facebook: #3b5998 ,
    whatsapp: #075E54
);