$color-footer: #b9b7b7;
$color-inmobiliaria: red;
$color-gris: rgb(183, 178, 178);
$color-botones-anclas:  rgb(244, 26, 26) ;

$border-hover-rojo: 2px solid $color-inmobiliaria; 
$border-hover-negro: 2px solid black;
$borde-claro: 1px solid rgba(128, 128, 128);

$letra-titulos: 'Ubuntu', sans-serif;
$letra-secundaria: 'Montserrat', sans-serif;

$size-chico: 20px;
$size-mediano: 30px;
$size-titulos: 40px;

$colores_redes:(
    instagram: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%), 
    facebook: #3b5998 ,
    whatsapp: #075E54


);




