
$color-footer: #b9b7b7;
$color-inmobiliaria: red;
$color-gris: rgb(183, 178, 178);
$color-botones-anclas:  rgb(244, 26, 26) ;

$border-hover-rojo: 2px solid $color-inmobiliaria; 
$border-hover-negro: 2px solid black;
$borde-claro: 1px solid rgba(128, 128, 128);

$letra-titulos: 'Ubuntu', sans-serif;
$letra-secundaria: 'Montserrat', sans-serif;

$size-chico: 20px;
$size-mediano: 30px;
$size-titulos: 40px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sono&family=Ubuntu:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:ital@1&family=Sono&family=Ubuntu:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@300&family=Roboto+Condensed:ital@1&family=Sono&family=Ubuntu:ital,wght@1,300;1,400&display=swap');



*{

    padding: 0;
    
    margin: 0;
    
    box-sizing: border-box;
    
    }

.margin_left_20{
    margin-left: 20px;
}

.margin-20 {
    margin: 10px;
}

.heightTotal{
    height: 100%;
}

.altura_input{ 
    height: 50px;
}

.border-radius-20{
    border-radius: 20px;
}

.alto_80vh{
    height: 80vh;
}

.colorBorde-Gris{
    border-color: $color-gris;
    background-color: #e8e5e5;
}

.color_boton_propiedad{  
    background-color: $color-botones-anclas;
}

.espaciado{
    margin: 20px 0;
}

 /*css header*/
    
.navbar-light {
    .navbar-nav{
        .link_navegador_header{
            margin: 20px;
            font-size: $size-chico;
            &:hover{
                color: $color-inmobiliaria;
            }
        }
    }
}

.div_imagen{
    height: 600px;
    background-image: url("../Assets/img/Fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*check box*/
    .boton_check{
        font-size: $size-chico;
        border: $borde-claro;
        background-color: white;
        color: black;
        &:hover{
            border: $border-hover-rojo;
            background-color: white;
            color: black;
        }
        &:checked{
            background-color:  rgb(255, 40, 40);
        }
    }

     /*Boton buscar*/

    .boton_buscar{
        background-color: $color-gris;
         &:hover{
             border: $border-hover-negro;
        }
    }
}

.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: $color-inmobiliaria;
    border-color: #51585e;
  }

 






/*titulos propiedades index*/

.h1_prop{
    font-size: $size-titulos;
    font-family: $letra-titulos;
}

.h2_prop{
    font-family: $letra-titulos;
}

/*tarjetas propiedades*/

.div_prop{
    width: 350px;
    height: 500px;

    .propiedad1{
        object-fit: cover;
    }

    /*boton en propiedades*/
    .reservar{
        font-family: $letra-secundaria;
        background-color: $color-gris;
   
    }
}




/*mapa del index*/
.titulo_mapa{
    font-size: $size-titulos;
}

.cuadro_deConsulta_index{
    border: $borde-claro;
    .contenedor_info_index{  
        background-color: rgba(221, 221, 221, 0.905);
        border-color: black;
        &:hover{
            border: $border-hover-rojo;
             background-color: $color-gris;
        }
    }
  }



/*css EMPRESA*/
.main_SobreNos{
    min-height: 70vh;
    .titulo_SobreNos{   
        font-size: $size-titulos;
        font-family: $letra-titulos;
       
    }
    .p_Empresa{
        font-family: $letra-secundaria;
        font-size: $size-chico;
    }
    .p_EmpresaImg{
        margin-left: 10px;
        font-size: 16px;
        font-family: $letra-secundaria;
    }
}



/* css CONTACTO*/

.h1_contacto{
    font-size: $size-titulos;
    font-family: $letra-titulos;
    margin-bottom: 50px;
}


.p_datos_img_contacto{
     font-size: 2rem;
     
}

.p2_datos_img_contacto{
    font-size: $size-chico;
}

/*El formulario*/

.h2_contacto{
    margin-top: 100px;
    font-size: $size-mediano;
    font-family: $letra-titulos;
}

.input{
    height: 30px;
}

.textarea{
    height: 200px;
}

.boton_enviar{
    height: 30px;
    background-color: white;
    color: black;
    &:hover{
        color: white;
        border: $border-hover-negro;
    }
}


/*css servicios */



.titulo_servicios{
    font-size: $size-titulos;
    font-family: $letra-titulos;
}

.seccion_servicios{ 
    margin-bottom: 100px;

    .h2_servicios{
        font-size: $size-mediano;
        font-family: $letra-secundaria;
    }

    .div_uno_servicios{
        font-size: $size-chico;
        font-family: $letra-secundaria;
        font-weight: 200px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .div_parrafos_servicios{
        font-size: $size-chico;
        font-family: $letra-secundaria;
    }
}


/*css propiedad */

.carousel-item{
    height: 70vh;
}

.ancla_prop{
    color: $color-botones-anclas;
    &:hover{
        color: $color-botones-anclas;
    }
}


.divTitulo_datos_propiedad{
    margin: 20px;

    /*Titulo*/

    .divTitulo_h1_datos_propiedad{
        font-size: $size-mediano;
        margin-bottom: 10px;
    }

    /*Subtitulo*/
    .divTitulo_h2_datos_propiedad{
        font-size: $size-mediano;
        font-weight: 200;
    }
}



.p_divInfo_datos_propiedad{
    font-weight: 300;
    margin-left: 30px;
}


/*Titulo mapa*/
.h2_seccion_mapa_propiedad{
    font-size: $size-mediano;
}





/*FOOTER*/
footer{
    background-color: $color-footer;
    .h3_Footer{
        font-size: $size-mediano;
        font-family: 'Quicksand', sans-serif;
    }
    nav{
        .ancla_footer{
            color: black;
            &:hover{
                color: $color-botones-anclas;
            }
        } 
    }
}




/*whatsapp*/
.wps{
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: #3dd13d;
    z-index: 10;
    
}

.link_wps{
    text-decoration: none;
    color: #058b05;
}

.link_sin_decoracion{
    text-decoration: none;
    color: black;
}

  

@media only screen and (min-width: 0px) and (max-width: 900px){
    /*Parte del main del index*/
    .seccion_checkBox{
        margin-bottom: 20px;
    }

    .carousel-item{
        height: 50vh;
    }

}  

@media only screen and (max-width: 750px)  {
    .carousel-item{
        height: 40vh;
    }
}    

@media only screen and (max-width: 600px){
     .titulo_mapa{
        font-size: 2rem;
     }

     .carousel-item{
        height: 30vh;
    }
   }


